<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CDN_Vue + Airtable</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body>
    <div v-cloak id="root">
        <error-view v-if="personData === 'error'" @reset="reset"></error-view>
        <search-view v-else-if="personData.length > 0" v-bind:datas="personData" @reset="reset"></search-view>
        <main-view v-bind:style="mainStyles" @onkeydownfunc="onKeyDown" @onclickfunc="onClick" @onchangefunc="onChange" v-else></main-view>
    </div>

    <script>
        var mainViewComponent = Vue.component(
            'main-view',
            {
                props : [],
                template: `
                <div>
                    <div>
                        <p>이름으로 검색할 수 있습니다</p>
                    </div>
                    <div>
                        <input type="search" name="name" id="name" @keydown="onKeyDown" @change="onChange"/>
                    </div>
                    <div>
                        <button @click="onClick">검색</button>
                    </div>
                </div>
                `,
                methods: {
                    onKeyDown : function(e){
                        this.$emit('onkeydownfunc', e);
                    },
                    onClick: function(e){
                        this.$emit('onclickfunc', e);
                    },
                    onChange: function(e){
                        this.$emit('onchangefunc', e);
                    }
                }
            },
        )

        var searchViewComponent = Vue.component(
            'search-view',
            {
                props : ['datas'],
                template : `
                    <div>
                        <div>찾음</div>
                        <div>
                            <ul>
                                <li v-for="data in datas">
                                    {{data}}
                                </li>
                            </ul>
                        </div>
                        <div @click="reset">다시</div>
                    </div>
                `,
                methods: {
                    reset: function(){
                        this.$emit('reset');
                    }
                }
            }
        );

        var errorView = Vue.component(
            'error-view',
            {
                props : [],
                template : `
                    <div>
                        <div>오류 페이지</div>
                        <div @click="reset">메인화면으로</div>
                    </div>
                `,
                methods: {
                    reset: function(){
                        this.$emit('reset');
                    }
                }
            }
        )

        var root = new Vue({
            el: '#root',
            data : {
                inputData : '',
                personData : {},
                mainStyles : {
                    color: 'red'
                }
            },
            methods: {
                search : async function(inputValue){
                    var _AIRTABLE_KEY = '';
                    var _URL = `https://api.airtable.com/v0/appwOWIDaRO0TiSDf/Table%201?api_key=${_AIRTABLE_KEY}`;
                    var result = await fetch(_URL)
                            .then(res => {
                                if(res.status !== 200) throw new Error('NOT 200!')
                                return res.json();
                            })
                            .then(json => json)
                            .catch(e => 'error');
                            if(result === 'error'){
                                this.personData = result;
                                this.inputData = '';
                            }
                            else{
                                this.personData = result.records.filter((e,i, arr) => {
                                    if(e.fields.Title === this.inputData) return e;
                                }).map((e,i) => e.fields.Title); 
                            }
                        
                    return;
                },
                onKeyDown: function(e){
                    this.inputData = e.target.value;
                    if(e.code === "Enter"){
                        if(e.target.value === '') return alert('입력해주세요');
                        return this.search(e.target.value);
                    }
                },
                onChange: function(e){
                    this.inputData = e.target.value;
                },
                onClick: function(e){
                    if(this.inputData === '') return alert('입력해주세요');
                    return this.search(this.inputData);
                },
                reset: function(){
                    this.personData = '';
                }
            }
        });
    </script>
</body>
</html>
